<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="menuToggleBtn">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>   
    <span class="menu-spacer"></span>
    <div class="menuBtn">
      <a mat-button [routerLink]="['/upload']">upload page</a>
      <a mat-button [routerLink]="['/history']">history page</a>
      <!-- <a mat-button [routerLink]="['/tree']">Tree page</a> -->
    </div>
  </mat-toolbar-row>

</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="['/upload']"> upload page </a>
      <a mat-button [routerLink]="['/history']">history page</a>
      <a mat-button [routerLink]="['/tree']">Tree page</a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>