<mat-card class="card-height">
    <mat-card-content>
        <section class="upload-section">
            <button mat-raised-button (click)="clearHistory()">clear</button>
        </section>
        <section class="upload-section m-t-30">
            <!-- {{uploadedFiles.length}} -->
            <ol *ngIf="uploadedFiles.length>0">
                <li *ngFor="let filename of uploadedFiles;">
                    {{filename}}
                </li>
            </ol>
        </section>
    </mat-card-content>
</mat-card>