@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.menuToggleBtn.mat-icon-button.mat-button-base {
  display: none !important;
}

.menuBtn {
  display: block !important;
}

.container {
  width: 500px;
  height: 300px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-l-20 {
  margin-left: 30px;
}

.upload-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  margin: 20px;
}

.card-height {
  min-height: 400px;
}

.rightAlign {
  float: right;
}

.treeExplorerDiv {
  margin: 10px !important;
  border: 1px solid #828282;
  min-height: 150px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .menuToggleBtn.mat-icon-button.mat-button-base {
    display: block !important;
  }
  .menuBtn {
    display: none !important;
  }
}