<mat-card class="card-height">
    <mat-card-content>
        <section class="upload-section m-t-30">
            File:
            <mat-form-field class="m-l-20">
                <input readonly matInput ([ngModel])="filename" value={{filename}}>                
            </mat-form-field>
            <button mat-raised-button class="m-l-20" (click)="openDialog()">browse</button>
        </section>
        <section class="upload-section">
            <!-- <button mat-raised-button disabled *ngIf="uploadDisable" (click)="uploadDocument()">upload</button> -->
            <button mat-raised-button disabled  [disabled]="uploadDisable" (click)="uploadDocument()">upload</button>
        </section>
        <section class="upload-section progress-bar">
            <mat-progress-bar class="upload-margin " [color]="color" [mode]="mode" [value]="value"
                [bufferValue]="bufferValue">
            </mat-progress-bar>
            <span class="upload-success">{{uploadCompleted?'upload completed':''}}</span>
        </section>
    </mat-card-content>
</mat-card>